# SPDX-License-Identifier: GPL-2.0-only
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
ACTION=="add", SUBSYSTEM=="ipc_shmem", KERNEL=="ipc_shmem", OWNER="root", GROUP="audio", MODE="0660", TAG+="systemd"
